<!DOCTYPE HTML>
<html>
    <head>
        <meta http-equiv="content-type"
              content="text/html; charset=utf-8" />
        <title>Post - {{user}}</title>
        <link href="./style.css" rel="stylesheet"
              type="text/css" />
    </head>
    <body>
        <h1>Post</h1>

        <form action="/postar" method="POST" accept-charset="utf-8">
            <label for="text">Texto:</label>
            <input type="text" name="text"
                   autocomplete="off" value="" id="text" maxlength="140"/>
            <input type="hidden" name="method" value="inserir" />
            <input type="submit" value="Adicionar"/>
        </form>

        <ul>
        <form action="profile" method="GET" accept-charset="utf-8"><input type="submit" value="Quem seguir"></form>
        {{#each posts}}
            <li> {{text}}
                <form action="post" method="POST" accept-charset="utf-8">
                    <input type="hidden" name="_id" value="{{_id}}" />
                    <input type="hidden" name="method" value="deletar" />
                    <input type="submit" value="deletar">
                </form>
            </li>
        {{/each}}
        </ul>
    </body>
</html>